In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
url = 'https://raw.githubusercontent.com/wshenyc/MLForCities/main/Data/building_data_final.csv'
df = pd.read_csv(url, index_col=0)
print(df.head())

            county  res_units  other_units  buildings  basement_code  \
bbl
3047940001      47          4            3          2              5
3047940017      47          3            0          1              2
3047940078      47          3            0          1              2
2032790058       5          6            0          1              5
1011980126      61          7            0          1              1

            lot_area  comp_bbl_2017  comp_bbl_2018  comp_bbl_2019  \
bbl
3047940001      4000            0.0            0.0            0.0
3047940017      2000            0.0            0.0            0.0
3047940078      1400            0.0            0.0            0.0
2032790058      2703            0.0            0.0            1.0
1011980126      1916            0.0            1.0            0.0

            comp_bbl_2020  ...  building_class_W3  building_class_W4  \
bbl                        ...
3047940001            0.0  ...                  0                  0
3047940017            0.0  ...                  0                  0
3047940078            0.0  ...                  0                  0
2032790058            0.0  ...                  0                  0
1011980126            0.0  ...                  0                  0

            building_class_W6  building_class_W7  building_class_W8  \
bbl
3047940001                  0                  0                  0
3047940017                  0                  0                  0
3047940078                  0                  0                  0
2032790058                  0                  0                  0
1011980126                  0                  0                  0

            building_class_W9  building_class_Y4  building_class_Z4  \
bbl
3047940001                  0                  0                  0
3047940017                  0                  0                  0
3047940078                  0                  0                  0
2032790058                  0                  0                  0
1011980126                  0                  0                  0

            building_class_Z9  outcome
bbl
3047940001                  0        0
3047940017                  0        0
3047940078                  0        0
2032790058                  0        0
1011980126                  0        0

[5 rows x 114 columns]

In [3]:
print(df.shape)

(158185, 114)

In [4]:
y=df.loc[:,'outcome']
print(y.head())
print(y.shape)

bbl
3047940001    0
3047940017    0
3047940078    0
2032790058    0
1011980126    0
Name: outcome, dtype: int64
(158185,)

In [6]:
##Using Naive Bayes to get the probability

In [5]:
X=df.loc[:,"county":"building_class_Z9"]
X=pd.get_dummies(X)
X = X.fillna(0)

# Split data into 70% train, 30% test
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3, random_state=999)
print(X_train.head())

            county  res_units  other_units  buildings  basement_code  \
bbl
1005257502      61         11            3          2              5
3042520015      47          3            0          1              2
1010610012      61          5            0          1              5
2023760031       5          5            0          1              5
4100120020      81          3            1          1              5

            lot_area  comp_bbl_2017  comp_bbl_2018  comp_bbl_2019  \
bbl
1005257502      3750            0.0            0.0            0.0
3042520015      1780            0.0            0.0            0.0
1010610012      2008            0.0            0.0            0.0
2023760031      2500            0.0            0.0            0.0
4100120020      2695            0.0            0.0            0.0

            comp_bbl_2020  ...  building_class_W2  building_class_W3  \
bbl                        ...
1005257502            0.0  ...                  0                  0
3042520015            0.0  ...                  0                  0
1010610012            0.0  ...                  0                  0
2023760031            0.2  ...                  0                  0
4100120020            0.0  ...                  0                  0

            building_class_W4  building_class_W6  building_class_W7  \
bbl
1005257502                  0                  0                  0
3042520015                  0                  0                  0
1010610012                  0                  0                  0
2023760031                  0                  0                  0
4100120020                  0                  0                  0

            building_class_W8  building_class_W9  building_class_Y4  \
bbl
1005257502                  0                  0                  0
3042520015                  0                  0                  0
1010610012                  0                  0                  0
2023760031                  0                  0                  0
4100120020                  0                  0                  0

            building_class_Z4  building_class_Z9
bbl
1005257502                  0                  0
3042520015                  0                  0
1010610012                  0                  0
2023760031                  0                  0
4100120020                  0                  0

[5 rows x 113 columns]

In [6]:
# Training a binary Naive Bayes Classifier with discrete input attributes.
# Assume that the binary output variable takes on values 0 or 1. 
def trainNaiveBayesDiscrete(X,y):
    prior = 1.*y.sum()/y.count()
    nbc = {'prior':prior}
    X_1 = X[y==1]
    X_0 = X[y==0]
    for j in X.columns:
        nbc[j+'_1'] = X_1[j].value_counts(normalize=True)
        nbc[j+'_0'] = X_0[j].value_counts(normalize=True)
    return nbc

def testNaiveBayesDiscrete(X,nbc):
    y_pred = pd.Series(index=X.index,dtype='float64')
    for i in X.index:
        # compute odds of y=1
        y_pred[i] = nbc['prior']/(1-nbc['prior']) # prior odds
        for j in X.columns:
            thevalue = X.loc[i,j]
            if thevalue not in nbc[j+'_1']:
                y_pred[i] = y_pred[i]*1E-3
            if thevalue not in nbc[j+'_0']:
                y_pred[i] = y_pred[i]*1E3
            if (thevalue in nbc[j+'_1']) & (thevalue in nbc[j+'_0']):
                y_pred[i] = y_pred[i]*(nbc[j+'_1'][thevalue]+1E-3)/(nbc[j+'_0'][thevalue]+1E-3)
        # convert odds to probability of y=1
        y_pred[i] = y_pred[i]/(1.0+y_pred[i])
    return y_pred

In [7]:
naive_bayes_classifier = trainNaiveBayesDiscrete(X_train,y_train)
for i,j in naive_bayes_classifier.items():
    print(i)
    print(j)
    print()
#y_pred_train = testNaiveBayesDiscrete(X_train,naive_bayes_classifier)
#y_pred_test = testNaiveBayesDiscrete(X_test,naive_bayes_classifier)

prior
0.12594713218759312

county_1
47    0.378747
5     0.265811
61    0.229815
81    0.117740
85    0.007888
Name: county, dtype: float64

county_0
47    0.472893
81    0.268363
61    0.126944
5     0.119143
85    0.012657
Name: county, dtype: float64

res_units_1
3      0.101104
6      0.092069
4      0.062455
8      0.059013
16     0.038004
         ...
391    0.000072
159    0.000072
182    0.000072
221    0.000072
134    0.000072
Name: res_units, Length: 352, dtype: float64

res_units_0
3       0.536902
4       0.142194
6       0.083889
8       0.039459
5       0.034469
          ...
411     0.000010
1166    0.000010
556     0.000010
324     0.000010
219     0.000010
Name: res_units, Length: 443, dtype: float64

other_units_1
0      0.727879
1      0.105765
2      0.067403
3      0.029399
4      0.019576
5      0.015488
6      0.011688
7      0.007529
8      0.004159
9      0.002079
10     0.001936
12     0.000932
11     0.000789
13     0.000574
14     0.000430
15     0.000287
16     0.000215
20     0.000215
57     0.000215
21     0.000215
41     0.000215
117    0.000143
31     0.000143
24     0.000143
26     0.000143
22     0.000143
46     0.000072
30     0.000072
80     0.000072
17     0.000072
857    0.000072
89     0.000072
19     0.000072
36     0.000072
68     0.000072
414    0.000072
28     0.000072
25     0.000072
43     0.000072
84     0.000072
137    0.000072
27     0.000072
60     0.000072
116    0.000072
44     0.000072
32     0.000072
42     0.000072
532    0.000072
181    0.000072
167    0.000072
33     0.000072
37     0.000072
50     0.000072
18     0.000072
35     0.000072
48     0.000072
71     0.000072
23     0.000072
Name: other_units, dtype: float64

other_units_0
0      0.832150
1      0.096598
2      0.039232
3      0.011913
4      0.006561
         ...
242    0.000010
157    0.000010
49     0.000010
97     0.000010
122    0.000010
Name: other_units, Length: 110, dtype: float64

buildings_1
1      0.911659
2      0.062240
3      0.010971
4      0.004446
6      0.002653
5      0.002151
8      0.001076
10     0.000789
7      0.000645
9      0.000502
14     0.000359
11     0.000287
12     0.000215
13     0.000143
23     0.000143
20     0.000143
16     0.000143
26     0.000143
21     0.000143
17     0.000143
39     0.000143
30     0.000143
111    0.000072
27     0.000072
19     0.000072
71     0.000072
28     0.000072
47     0.000072
92     0.000072
15     0.000072
61     0.000072
22     0.000072
Name: buildings, dtype: float64

buildings_0
1       0.850036
2       0.137431
3       0.007801
4       0.001911
0       0.000806
5       0.000537
7       0.000227
6       0.000217
8       0.000155
12      0.000114
9       0.000103
10      0.000093
11      0.000052
13      0.000031
14      0.000031
57      0.000021
56      0.000021
46      0.000021
54      0.000021
28      0.000021
16      0.000021
18      0.000021
47      0.000010
38      0.000010
40      0.000010
33      0.000010
80      0.000010
24      0.000010
29      0.000010
540     0.000010
19      0.000010
17      0.000010
23      0.000010
26      0.000010
36      0.000010
64      0.000010
22      0.000010
63      0.000010
39      0.000010
98      0.000010
414     0.000010
30      0.000010
130     0.000010
61      0.000010
221     0.000010
20      0.000010
15      0.000010
109     0.000010
66      0.000010
27      0.000010
52      0.000010
1856    0.000010
Name: buildings, dtype: float64

basement_code_1
2    0.397390
0    0.338090
5    0.185860
1    0.076796
4    0.001578
3    0.000287
Name: basement_code, dtype: float64

basement_code_0
2    0.412955
5    0.312193
1    0.188959
0    0.078764
4    0.005827
3    0.001302
Name: basement_code, dtype: float64

lot_area_1
2500      0.077083
10000     0.026459
5000      0.026029
2000      0.025670
4000      0.017066
            ...
18035     0.000072
17445     0.000072
11069     0.000072
250819    0.000072
3256      0.000072
Name: lot_area, Length: 5042, dtype: float64

lot_area_0
2500     0.112055
2000     0.088879
3000     0.020654
4000     0.019518
2003     0.013019
           ...
18036    0.000010
37151    0.000010
8410     0.000010
10207    0.000010
91700    0.000010
Name: lot_area, Length: 8098, dtype: float64

comp_bbl_2017_1
0.000000    0.297218
1.000000    0.021727
2.000000    0.009680
0.333333    0.008820
0.166667    0.007457
              ...
4.263158    0.000072
4.050000    0.000072
7.542857    0.000072
4.132075    0.000072
6.521739    0.000072
Name: comp_bbl_2017, Length: 4675, dtype: float64

comp_bbl_2017_0
0.000000     0.861587
1.000000     0.015406
0.333333     0.009155
2.000000     0.005373
0.250000     0.004608
               ...
6.304348     0.000010
2.001616     0.000010
1.015152     0.000010
3.105263     0.000010
17.044118    0.000010
Name: comp_bbl_2017, Length: 2382, dtype: float64

comp_bbl_2018_1
0.000000     0.277356
1.000000     0.024667
2.000000     0.009752
0.333333     0.008605
0.166667     0.008174
               ...
1.978723     0.000072
4.538462     0.000072
12.538462    0.000072
0.172043     0.000072
4.478261     0.000072
Name: comp_bbl_2018, Length: 4749, dtype: float64

comp_bbl_2018_0
0.000000     0.856380
1.000000     0.016284
0.333333     0.009413
0.250000     0.005332
2.000000     0.005321
               ...
1.014577     0.000010
0.022599     0.000010
15.032787    0.000010
3.178571     0.000010
15.137255    0.000010
Name: comp_bbl_2018, Length: 2433, dtype: float64

comp_bbl_2019_1
0.000000     0.269253
1.000000     0.024380
2.000000     0.010971
0.333333     0.010182
0.166667     0.008103
               ...
17.294118    0.000072
3.309524     0.000072
6.095890     0.000072
1.012887     0.000072
12.400000    0.000072
Name: comp_bbl_2019, Length: 4736, dtype: float64

comp_bbl_2019_0
0.000000    0.864522
1.000000    0.016150
0.333333    0.010002
0.250000    0.004980
2.000000    0.004929
              ...
0.547619    0.000010
5.232558    0.000010
1.007500    0.000010
5.285714    0.000010
9.098039    0.000010
Name: comp_bbl_2019, Length: 2227, dtype: float64

comp_bbl_2020_1
0.000000     0.261509
1.000000     0.029686
0.333333     0.012620
2.000000     0.012190
0.250000     0.010254
               ...
62.666667    0.000072
1.196429     0.000072
2.281690     0.000072
2.302326     0.000072
3.233333     0.000072
Name: comp_bbl_2020, Length: 4478, dtype: float64

comp_bbl_2020_0
0.000000     0.889547
1.000000     0.016501
0.333333     0.007574
2.000000     0.004650
0.250000     0.004381
               ...
4.210526     0.000010
0.042945     0.000010
4.028169     0.000010
0.129032     0.000010
10.053922    0.000010
Name: comp_bbl_2020, Length: 1792, dtype: float64

comp_bbl_2021_1
0.000000     0.118815
1.000000     0.035279
0.333333     0.019504
2.000000     0.015775
0.500000     0.014700
               ...
2.066298     0.000072
25.258486    0.000072
7.076923     0.000072
8.280000     0.000072
6.148148     0.000072
Name: comp_bbl_2021, Length: 4674, dtype: float64

comp_bbl_2021_0
0.000000    0.911627
1.000000    0.015912
0.333333    0.006664
2.000000    0.004216
0.166667    0.003255
              ...
7.022727    0.000010
8.071823    0.000010
3.017857    0.000010
6.600000    0.000010
3.009804    0.000010
Name: comp_bbl_2021, Length: 1400, dtype: float64

viol_bbl_oth_2017_1
0.000000     0.315503
1.000000     0.125771
2.000000     0.020938
3.000000     0.010254
5.000000     0.008174
               ...
12.217391    0.000072
5.244681     0.000072
4.640000     0.000072
4.476190     0.000072
16.650000    0.000072
Name: viol_bbl_oth_2017, Length: 3984, dtype: float64

viol_bbl_oth_2017_0
0.000000     0.684356
1.000000     0.240259
2.000000     0.009165
3.000000     0.003906
4.000000     0.002686
               ...
13.705882    0.000010
2.161290     0.000010
19.047619    0.000010
14.222222    0.000010
15.415385    0.000010
Name: viol_bbl_oth_2017, Length: 1740, dtype: float64

viol_bbl_oth_2018_1
0.000000     0.261580
1.000000     0.144916
2.000000     0.020293
3.000000     0.012190
4.000000     0.007959
               ...
12.117647    0.000072
4.977273     0.000072
22.350000    0.000072
6.007752     0.000072
13.650000    0.000072
Name: viol_bbl_oth_2018, Length: 4217, dtype: float64

viol_bbl_oth_2018_0
0.000000    0.619479
1.000000    0.299629
2.000000    0.009258
3.000000    0.004092
4.000000    0.002862
              ...
1.010000    0.000010
4.916667    0.000010
4.700000    0.000010
4.022599    0.000010
3.009804    0.000010
Name: viol_bbl_oth_2018, Length: 1871, dtype: float64

viol_bbl_oth_2019_1
0.000000     0.275348
1.000000     0.131436
2.000000     0.019862
3.000000     0.011186
4.000000     0.008533
               ...
28.500000    0.000072
18.678571    0.000072
4.058081     0.000072
16.470588    0.000072
2.185185     0.000072
Name: viol_bbl_oth_2019, Length: 4069, dtype: float64

viol_bbl_oth_2019_0
0.000000     0.653100
1.000000     0.273292
2.000000     0.008173
3.000000     0.004071
4.000000     0.002211
               ...
12.105263    0.000010
1.296296     0.000010
6.533333     0.000010
3.466667     0.000010
1.029412     0.000010
Name: viol_bbl_oth_2019, Length: 1667, dtype: float64

viol_bbl_oth_2020_1
0.000000    0.429155
1.000000    0.027678
2.000000    0.016277
3.000000    0.008891
4.000000    0.006597
              ...
5.023474    0.000072
7.030303    0.000072
2.854167    0.000072
5.050847    0.000072
4.660714    0.000072
Name: viol_bbl_oth_2020, Length: 3467, dtype: float64

viol_bbl_oth_2020_0
0.000000     0.945652
1.000000     0.007016
2.000000     0.003565
3.000000     0.002418
6.000000     0.001953
               ...
1.878788     0.000010
0.128571     0.000010
1.104167     0.000010
0.001715     0.000010
15.625000    0.000010
Name: viol_bbl_oth_2020, Length: 1180, dtype: float64

viol_bbl_oth_2021_1
1.000000    0.045604
0.000000    0.041732
2.000000    0.039940
3.000000    0.024021
4.000000    0.017855
              ...
1.063830    0.000072
1.191781    0.000072
7.190476    0.000072
1.010309    0.000072
5.103448    0.000072
Name: viol_bbl_oth_2021, Length: 4642, dtype: float64

viol_bbl_oth_2021_0
0.000000    0.423215
1.000000    0.282787
2.000000    0.265708
3.000000    0.004143
4.000000    0.002573
              ...
2.044586    0.000010
3.066667    0.000010
0.014493    0.000010
1.085714    0.000010
2.190476    0.000010
Name: viol_bbl_oth_2021, Length: 751, dtype: float64

viol_bbl_ser_2017_1
0.000000    0.550337
1.000000    0.046178
2.000000    0.013552
0.166667    0.005521
0.125000    0.005450
              ...
4.234043    0.000072
2.016949    0.000072
1.547170    0.000072
3.576923    0.000072
7.200000    0.000072
Name: viol_bbl_ser_2017, Length: 2109, dtype: float64

viol_bbl_ser_2017_0
0.000000    0.948751
1.000000    0.011273
2.000000    0.002810
0.333333    0.002521
0.250000    0.001509
              ...
3.128205    0.000010
0.156250    0.000010
0.073529    0.000010
3.018868    0.000010
0.009804    0.000010
Name: viol_bbl_ser_2017, Length: 794, dtype: float64

viol_bbl_ser_2018_1
0.000000     0.529614
1.000000     0.044314
2.000000     0.013696
0.166667     0.006095
0.125000     0.005593
               ...
0.001938     0.000072
8.181818     0.000072
14.291667    0.000072
0.225000     0.000072
4.296296     0.000072
Name: viol_bbl_ser_2018, Length: 2177, dtype: float64

viol_bbl_ser_2018_0
0.000000    0.946447
1.000000    0.012223
2.000000    0.003100
0.333333    0.002366
3.000000    0.001374
              ...
1.015625    0.000010
6.133333    0.000010
0.009615    0.000010
2.217391    0.000010
0.092308    0.000010
Name: viol_bbl_ser_2018, Length: 816, dtype: float64

viol_bbl_ser_2019_1
0.000000    0.452675
1.000000    0.032698
2.000000    0.009608
0.333333    0.007314
0.250000    0.006238
              ...
5.538462    0.000072
6.441667    0.000072
2.606061    0.000072
1.036145    0.000072
2.081081    0.000072
Name: viol_bbl_ser_2019, Length: 2699, dtype: float64

viol_bbl_ser_2019_0
0.000000    0.939277
1.000000    0.009547
0.333333    0.003017
2.000000    0.002779
0.166667    0.001746
              ...
4.625000    0.000010
2.133333    0.000010
4.136364    0.000010
0.067797    0.000010
2.004902    0.000010
Name: viol_bbl_ser_2019, Length: 978, dtype: float64

viol_bbl_ser_2020_1
0.000000    0.469597
1.000000    0.031335
2.000000    0.013696
0.333333    0.009107
0.166667    0.007386
              ...
2.073529    0.000072
2.428571    0.000072
5.600000    0.000072
1.527027    0.000072
6.368421    0.000072
Name: viol_bbl_ser_2020, Length: 2535, dtype: float64

viol_bbl_ser_2020_0
0.000000    0.955168
1.000000    0.007388
2.000000    0.002666
0.333333    0.002211
0.166667    0.001188
              ...
5.056180    0.000010
0.017699    0.000010
1.050847    0.000010
1.057143    0.000010
3.004902    0.000010
Name: viol_bbl_ser_2020, Length: 749, dtype: float64

building_class_A8_1
0    1.0
Name: building_class_A8, dtype: float64

building_class_A8_0
0    0.999742
1    0.000258
Name: building_class_A8, dtype: float64

building_class_B1_1
0    1.0
Name: building_class_B1, dtype: float64

building_class_B1_0
0    0.99999
1    0.00001
Name: building_class_B1, dtype: float64

building_class_C0_1
0    0.908934
1    0.091066
Name: building_class_C0, dtype: float64

building_class_C0_0
1    0.50917
0    0.49083
Name: building_class_C0, dtype: float64

building_class_C1_1
0    0.715546
1    0.284454
Name: building_class_C1, dtype: float64

building_class_C1_0
0    0.926826
1    0.073174
Name: building_class_C1, dtype: float64

building_class_C2_1
0    0.91381
1    0.08619
Name: building_class_C2, dtype: float64

building_class_C2_0
0    0.913993
1    0.086007
Name: building_class_C2, dtype: float64

building_class_C3_1
0    0.953822
1    0.046178
Name: building_class_C3, dtype: float64

building_class_C3_0
0    0.890394
1    0.109606
Name: building_class_C3, dtype: float64

building_class_C4_1
0    0.96508
1    0.03492
Name: building_class_C4, dtype: float64

building_class_C4_0
0    0.984367
1    0.015633
Name: building_class_C4, dtype: float64

building_class_C5_1
0    0.9853
1    0.0147
Name: building_class_C5, dtype: float64

building_class_C5_0
0    0.984491
1    0.015509
Name: building_class_C5, dtype: float64

building_class_C7_1
0    0.872938
1    0.127062
Name: building_class_C7, dtype: float64

building_class_C7_0
0    0.96177
1    0.03823
Name: building_class_C7, dtype: float64

building_class_C9_1
0    0.993188
1    0.006812
Name: building_class_C9, dtype: float64

building_class_C9_0
0    0.998305
1    0.001695
Name: building_class_C9, dtype: float64

building_class_CM_1
0    1.0
Name: building_class_CM, dtype: float64

building_class_CM_0
0    0.99999
1    0.00001
Name: building_class_CM, dtype: float64

building_class_D1_1
0    0.85659
1    0.14341
Name: building_class_D1, dtype: float64

building_class_D1_0
0    0.984047
1    0.015953
Name: building_class_D1, dtype: float64

building_class_D2_1
0    0.99957
1    0.00043
Name: building_class_D2, dtype: float64

building_class_D2_0
0    0.999545
1    0.000455
Name: building_class_D2, dtype: float64

building_class_D3_1
0    0.982074
1    0.017926
Name: building_class_D3, dtype: float64

building_class_D3_0
0    0.994307
1    0.005693
Name: building_class_D3, dtype: float64

building_class_D5_1
0    0.995411
1    0.004589
Name: building_class_D5, dtype: float64

building_class_D5_0
0    0.998543
1    0.001457
Name: building_class_D5, dtype: float64

building_class_D6_1
0    0.987882
1    0.012118
Name: building_class_D6, dtype: float64

building_class_D6_0
0    0.993935
1    0.006065
Name: building_class_D6, dtype: float64

building_class_D7_1
0    0.952101
1    0.047899
Name: building_class_D7, dtype: float64

building_class_D7_0
0    0.990835
1    0.009165
Name: building_class_D7, dtype: float64

building_class_D8_1
0    0.99914
1    0.00086
Name: building_class_D8, dtype: float64

building_class_D8_0
0    0.999173
1    0.000827
Name: building_class_D8, dtype: float64

building_class_D9_1
0    0.990965
1    0.009035
Name: building_class_D9, dtype: float64

building_class_D9_0
0    0.99751
1    0.00249
Name: building_class_D9, dtype: float64

building_class_E1_1
0    1.0
Name: building_class_E1, dtype: float64

building_class_E1_0
0    0.999969
1    0.000031
Name: building_class_E1, dtype: float64

building_class_E9_1
0    1.0
Name: building_class_E9, dtype: float64

building_class_E9_0
0    0.999938
1    0.000062
Name: building_class_E9, dtype: float64

building_class_F4_1
0    1.0
Name: building_class_F4, dtype: float64

building_class_F4_0
0    0.99999
1    0.00001
Name: building_class_F4, dtype: float64

building_class_F5_1
0    1.0
Name: building_class_F5, dtype: float64

building_class_F5_0
0    1.0
Name: building_class_F5, dtype: float64

building_class_F9_1
0    1.0
Name: building_class_F9, dtype: float64

building_class_F9_0
0    0.999907
1    0.000093
Name: building_class_F9, dtype: float64

building_class_G0_1
0    1.0
Name: building_class_G0, dtype: float64

building_class_G0_0
0    0.999917
1    0.000083
Name: building_class_G0, dtype: float64

building_class_G1_1
0    1.0
Name: building_class_G1, dtype: float64

building_class_G1_0
0    0.999969
1    0.000031
Name: building_class_G1, dtype: float64

building_class_G2_1
0    1.0
Name: building_class_G2, dtype: float64

building_class_G2_0
0    0.999979
1    0.000021
Name: building_class_G2, dtype: float64

building_class_G9_1
0    1.0
Name: building_class_G9, dtype: float64

building_class_G9_0
0    0.999969
1    0.000031
Name: building_class_G9, dtype: float64

building_class_H1_1
0    1.0
Name: building_class_H1, dtype: float64

building_class_H1_0
0    0.999969
1    0.000031
Name: building_class_H1, dtype: float64

building_class_H2_1
0    1.0
Name: building_class_H2, dtype: float64

building_class_H2_0
0    0.999938
1    0.000062
Name: building_class_H2, dtype: float64

building_class_H3_1
0    0.999857
1    0.000143
Name: building_class_H3, dtype: float64

building_class_H3_0
0    0.999824
1    0.000176
Name: building_class_H3, dtype: float64

building_class_H4_1
0    0.999928
1    0.000072
Name: building_class_H4, dtype: float64

building_class_H4_0
0    0.99999
1    0.00001
Name: building_class_H4, dtype: float64

building_class_H5_1
0    1.0
Name: building_class_H5, dtype: float64

building_class_H5_0
0    0.99999
1    0.00001
Name: building_class_H5, dtype: float64

building_class_H6_1
0    0.999928
1    0.000072
Name: building_class_H6, dtype: float64

building_class_H6_0
0    0.999979
1    0.000021
Name: building_class_H6, dtype: float64

building_class_H8_1
0    1.0
Name: building_class_H8, dtype: float64

building_class_H8_0
0    0.999876
1    0.000124
Name: building_class_H8, dtype: float64

building_class_H9_1
0    0.999857
1    0.000143
Name: building_class_H9, dtype: float64

building_class_H9_0
0    0.999948
1    0.000052
Name: building_class_H9, dtype: float64

building_class_HB_1
0    1.0
Name: building_class_HB, dtype: float64

building_class_HB_0
0    0.999948
1    0.000052
Name: building_class_HB, dtype: float64

building_class_HH_1
0    1.0
Name: building_class_HH, dtype: float64

building_class_HH_0
0    0.999959
1    0.000041
Name: building_class_HH, dtype: float64

building_class_HR_1
0    1.0
Name: building_class_HR, dtype: float64

building_class_HR_0
0    0.999959
1    0.000041
Name: building_class_HR, dtype: float64

building_class_HS_1
0    0.999857
1    0.000143
Name: building_class_HS, dtype: float64

building_class_HS_0
0    0.999855
1    0.000145
Name: building_class_HS, dtype: float64

building_class_I1_1
0    1.0
Name: building_class_I1, dtype: float64

building_class_I1_0
0    0.999979
1    0.000021
Name: building_class_I1, dtype: float64

building_class_I4_1
0    0.999713
1    0.000287
Name: building_class_I4, dtype: float64

building_class_I4_0
0    0.999917
1    0.000083
Name: building_class_I4, dtype: float64

building_class_I5_1
0    1.0
Name: building_class_I5, dtype: float64

building_class_I5_0
0    0.999969
1    0.000031
Name: building_class_I5, dtype: float64

building_class_I6_1

In [8]:
y_pred_test = testNaiveBayesDiscrete(X_test,naive_bayes_classifier)

In [9]:
# measure accuracy for the binary prediction task
#print('In sample prediction accuracy:',1.0*sum((y_pred_train>0.5)==y_train)/len(y_train))
print('Out of sample prediction accuracy:',1.0*sum((y_pred_test>0.5)==y_test)/len(y_test))

Out of sample prediction accuracy: 0.9195254551584626

In [10]:
y_pred_all = testNaiveBayesDiscrete(X,naive_bayes_classifier)

In [18]:
y_pred_all

bbl
3047940001    8.621235e-07
3047940017    2.594182e-10
3047940078    1.051866e-09
2032790058    1.743969e-05
1011980126    5.868199e-06
                  ...
1011980055    8.845688e-10
2039340058    2.153485e-09
3087140010    9.977958e-01
2027860012    9.969637e-01
4007950036    2.194019e-09
Length: 158185, dtype: float64

In [24]:
## create a csv of probabilities at the building level and tract level
pred_prob_all_bld= pd.DataFrame(y_pred_all,
                                        columns = ["prob_vio_nb"],index=df.index)
pred_prob_all_bld

             prob_vio_nb
bbl
3047940001  8.621235e-07
3047940017  2.594182e-10
3047940078  1.051866e-09
2032790058  1.743969e-05
1011980126  5.868199e-06
...                  ...
1011980055  8.845688e-10
2039340058  2.153485e-09
3087140010  9.977958e-01
2027860012  9.969637e-01
4007950036  2.194019e-09

[158185 rows x 1 columns]

In [15]:
#The probability of using NaiveBayes model is too low, we might use other model.

In [25]:
pred_prob_all_bld.to_csv("pred_nb.csv")