In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
url = 'https://raw.githubusercontent.com/wshenyc/MLForCities/main/Data/housing_data.csv'
df = pd.read_csv(url, index_col=0)
print(df.head())

               cd  county     tract10  res_units  other_units  year_built  \
bbl
3047940001  309.0      47  47080600.0          4            3      1899.0
3047940017  309.0      47  47080600.0          3            0      1991.0
3047940078  309.0      47  47080600.0          3            0      2005.0
2032790058  207.0       5   5040702.0          6            0      1915.0
1011980126  107.0      61  61016900.0          7            0      1886.0

            year_reno  buildings  floors building_class  ...  \
bbl                                                      ...
3047940001     1899.0          2     3.0             S9  ...
3047940017     1991.0          1     2.0             C0  ...
3047940078     2005.0          1     3.0             C0  ...
2032790058     2007.0          1     2.0             C2  ...
1011980126     1984.0          1     4.0             C5  ...

            viol_bbl_oth_2018 viol_bbl_oth_2019  viol_bbl_oth_2020  \
bbl
3047940001               0.25               0.0                0.0
3047940017               0.00               0.0                0.0
3047940078               1.00               0.0                0.0
2032790058               0.00               1.0                0.0
1011980126               3.00               0.0                0.0

            viol_bbl_oth_2021  viol_bbl_ser_2017  viol_bbl_ser_2018  \
bbl
3047940001                0.0                0.0                0.0
3047940017                0.0                0.0                0.0
3047940078                2.0                0.0                0.0
2032790058                1.0                0.0                0.0
1011980126                0.0                0.0                1.0

            viol_bbl_ser_2019  viol_bbl_ser_2020  viol_bbl_ser_2021  outcome
bbl
3047940001                0.0                0.0                0.0    False
3047940017                0.0                0.0                0.0    False
3047940078                0.0                0.0                0.0    False
2032790058                0.0                0.0                0.0    False
1011980126                0.0                0.0                0.0    False

[5 rows x 30 columns]

In [3]:
print(df.shape)

(158185, 30)

In [4]:
df['outcome']=df['outcome'].astype('int')

In [5]:
y=df.loc[:,'outcome']
print(y.head())
print(y.shape)

bbl
3047940001    0
3047940017    0
3047940078    0
2032790058    0
1011980126    0
Name: outcome, dtype: int64
(158185,)

In [6]:
##Using Naviebayes to get the probability

In [7]:
X=df.loc[:,"cd":"viol_bbl_ser_2020"]
X=pd.get_dummies(X)
X = X.fillna(0)

# Split data into 70% train, 30% test
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3, random_state=999)
print(X_train.head())

               cd  county     tract10  res_units  other_units  year_built  \
bbl
1005257502  102.0      61  61006500.0         11            3      1910.0
3042520015  305.0      47  47120000.0          3            0      1910.0
1010610012  104.0      61  61013300.0          5            0      1920.0
2023760031  201.0       5   5006700.0          5            0      1927.0
4100120020  412.0      81  81020600.0          3            1      1925.0

            year_reno  buildings  floors  basement_code  ...  \
bbl                                                      ...
1005257502     1910.0          2     4.0              5  ...
3042520015     1910.0          1     2.0              2  ...
1010610012     1982.0          1     3.0              5  ...
2023760031     1927.0          1     2.0              5  ...
4100120020     1925.0          1     2.5              5  ...

            building_class_W4  building_class_W6  building_class_W7  \
bbl
1005257502                  0                  0                  0
3042520015                  0                  0                  0
1010610012                  0                  0                  0
2023760031                  0                  0                  0
4100120020                  0                  0                  0

            building_class_W8  building_class_W9  building_class_Y4  \
bbl
1005257502                  0                  0                  0
3042520015                  0                  0                  0
1010610012                  0                  0                  0
2023760031                  0                  0                  0
4100120020                  0                  0                  0

            building_class_Z4  building_class_Z9  owner_type_P  owner_type_X
bbl
1005257502                  0                  0             0             0
3042520015                  0                  0             0             0
1010610012                  0                  0             0             0
2023760031                  0                  0             0             0
4100120020                  0                  0             0             0

[5 rows x 121 columns]

In [8]:
# Training a binary Naive Bayes Classifier with discrete input attributes.
# Assume that the binary output variable takes on values 0 or 1. 
def trainNaiveBayesDiscrete(X,y):
    prior = 1.*y.sum()/y.count()
    nbc = {'prior':prior}
    X_1 = X[y==1]
    X_0 = X[y==0]
    for j in X.columns:
        nbc[j+'_1'] = X_1[j].value_counts(normalize=True)
        nbc[j+'_0'] = X_0[j].value_counts(normalize=True)
    return nbc

def testNaiveBayesDiscrete(X,nbc):
    y_pred = pd.Series(index=X.index,dtype='float64')
    for i in X.index:
        # compute odds of y=1
        y_pred[i] = nbc['prior']/(1-nbc['prior']) # prior odds
        for j in X.columns:
            thevalue = X.loc[i,j]
            if thevalue not in nbc[j+'_1']:
                y_pred[i] = y_pred[i]*1E-3
            if thevalue not in nbc[j+'_0']:
                y_pred[i] = y_pred[i]*1E3
            if (thevalue in nbc[j+'_1']) & (thevalue in nbc[j+'_0']):
                y_pred[i] = y_pred[i]*(nbc[j+'_1'][thevalue]+1E-3)/(nbc[j+'_0'][thevalue]+1E-3)
        # convert odds to probability of y=1
        y_pred[i] = y_pred[i]/(1.0+y_pred[i])
    return y_pred

In [9]:
naive_bayes_classifier = trainNaiveBayesDiscrete(X_train,y_train)
for i,j in naive_bayes_classifier.items():
    print(i)
    print(j)
    print()
#y_pred_train = testNaiveBayesDiscrete(X_train,naive_bayes_classifier)
#y_pred_test = testNaiveBayesDiscrete(X_test,naive_bayes_classifier)

prior
0.12594713218759312

cd_1
112.0    0.048114
303.0    0.038291
207.0    0.037860
304.0    0.037430
204.0    0.035637
205.0    0.034634
110.0    0.033128
317.0    0.032913
314.0    0.031909
308.0    0.031048
305.0    0.029973
301.0    0.027750
206.0    0.027678
212.0    0.025957
109.0    0.024595
103.0    0.023232
309.0    0.023089
107.0    0.022229
209.0    0.021512
111.0    0.021440
316.0    0.021081
203.0    0.020579
201.0    0.018643
401.0    0.018141
108.0    0.017711
405.0    0.017209
307.0    0.016492
312.0    0.016277
311.0    0.015990
202.0    0.014556
104.0    0.013552
211.0    0.013337
306.0    0.012620
302.0    0.011903
404.0    0.011831
310.0    0.011258
208.0    0.010899
102.0    0.010684
403.0    0.010684
412.0    0.009824
402.0    0.009752
106.0    0.009608
414.0    0.009465
407.0    0.008390
315.0    0.008318
313.0    0.007959
409.0    0.007386
501.0    0.006669
210.0    0.005736
408.0    0.005521
406.0    0.004589
318.0    0.004446
105.0    0.003155
413.0    0.002223
410.0    0.001793
101.0    0.001147
502.0    0.000932
411.0    0.000932
503.0    0.000287
Name: cd, dtype: float64

cd_0
401.0    0.050463
301.0    0.049089
303.0    0.046620
405.0    0.044130
311.0    0.043882
306.0    0.037755
404.0    0.037486
312.0    0.035202
304.0    0.034097
305.0    0.028621
307.0    0.028517
317.0    0.026854
403.0    0.025149
407.0    0.024240
212.0    0.024116
302.0    0.022401
209.0    0.021233
308.0    0.021150
310.0    0.020489
402.0    0.019714
409.0    0.017875
318.0    0.017276
108.0    0.016955
315.0    0.016336
103.0    0.016088
107.0    0.015767
316.0    0.015178
102.0    0.014703
110.0    0.014062
210.0    0.013887
211.0    0.012172
313.0    0.011283
104.0    0.010663
111.0    0.010208
412.0    0.009764
314.0    0.009227
309.0    0.008648
106.0    0.008421
408.0    0.008287
414.0    0.008152
501.0    0.008142
206.0    0.008132
410.0    0.007429
203.0    0.006995
201.0    0.006613
109.0    0.006385
411.0    0.006375
204.0    0.006344
207.0    0.005641
112.0    0.005053
205.0    0.005011
202.0    0.004980
413.0    0.004753
406.0    0.004495
105.0    0.004298
101.0    0.004154
208.0    0.004123
502.0    0.003348
503.0    0.001168
0.0      0.000403
Name: cd, dtype: float64

county_1
47    0.378747
5     0.265811
61    0.229815
81    0.117740
85    0.007888
Name: county, dtype: float64

county_0
47    0.472893
81    0.268363
61    0.126944
5     0.119143
85    0.012657
Name: county, dtype: float64

tract10_1
61024500.0    0.004876
61026100.0    0.003872
61029100.0    0.003657
47030500.0    0.003298
61003400.0    0.003083
                ...
81120500.0    0.000072
81002800.0    0.000072
81015400.0    0.000072
81092200.0    0.000072
81076902.0    0.000072
Name: tract10, Length: 1629, dtype: float64

tract10_0
81030902.0    0.003544
47006500.0    0.003151
81059100.0    0.002852
47057100.0    0.002500
47007500.0    0.002459
                ...
5003700.0     0.000010
47105804.0    0.000010
81072300.0    0.000010
81054800.0    0.000010
81059200.0    0.000010
Name: tract10, Length: 2013, dtype: float64

res_units_1
3      0.101104
6      0.092069
4      0.062455
8      0.059013
16     0.038004
         ...
391    0.000072
159    0.000072
182    0.000072
221    0.000072
134    0.000072
Name: res_units, Length: 352, dtype: float64

res_units_0
3       0.536902
4       0.142194
6       0.083889
8       0.039459
5       0.034469
          ...
411     0.000010
1166    0.000010
556     0.000010
324     0.000010
219     0.000010
Name: res_units, Length: 443, dtype: float64

other_units_1
0      0.727879
1      0.105765
2      0.067403
3      0.029399
4      0.019576
5      0.015488
6      0.011688
7      0.007529
8      0.004159
9      0.002079
10     0.001936
12     0.000932
11     0.000789
13     0.000574
14     0.000430
15     0.000287
16     0.000215
20     0.000215
57     0.000215
21     0.000215
41     0.000215
117    0.000143
31     0.000143
24     0.000143
26     0.000143
22     0.000143
46     0.000072
30     0.000072
80     0.000072
17     0.000072
857    0.000072
89     0.000072
19     0.000072
36     0.000072
68     0.000072
414    0.000072
28     0.000072
25     0.000072
43     0.000072
84     0.000072
137    0.000072
27     0.000072
60     0.000072
116    0.000072
44     0.000072
32     0.000072
42     0.000072
532    0.000072
181    0.000072
167    0.000072
33     0.000072
37     0.000072
50     0.000072
18     0.000072
35     0.000072
48     0.000072
71     0.000072
23     0.000072
Name: other_units, dtype: float64

other_units_0
0      0.832150
1      0.096598
2      0.039232
3      0.011913
4      0.006561
         ...
242    0.000010
157    0.000010
49     0.000010
97     0.000010
122    0.000010
Name: other_units, Length: 110, dtype: float64

year_built_1
1931.0    0.111358
1910.0    0.084182
1920.0    0.071418
1930.0    0.070845
1925.0    0.037932
            ...
1857.0    0.000072
1944.0    0.000072
1846.0    0.000072
1833.0    0.000072
1877.0    0.000072
Name: year_built, Length: 181, dtype: float64

year_built_0
1931.0    0.086596
1920.0    0.085201
1930.0    0.084457
1910.0    0.082793
1925.0    0.043592
            ...
1789.0    0.000010
1802.0    0.000010
1807.0    0.000010
1815.0    0.000010
1812.0    0.000010
Name: year_built, Length: 214, dtype: float64

year_reno_1
1931.0    0.085616
1930.0    0.056145
1910.0    0.043740
1920.0    0.037287
1928.0    0.028682
            ...
1864.0    0.000072
1828.0    0.000072
1944.0    0.000072
1800.0    0.000072
1877.0    0.000072
Name: year_reno, Length: 174, dtype: float64

year_reno_0
1930.0    0.075178
1931.0    0.073050
1920.0    0.068018
1910.0    0.058285
1925.0    0.037610
            ...
1822.0    0.000010
1802.0    0.000010
1818.0    0.000010
1819.0    0.000010
1812.0    0.000010
Name: year_reno, Length: 209, dtype: float64

buildings_1
1      0.911659
2      0.062240
3      0.010971
4      0.004446
6      0.002653
5      0.002151
8      0.001076
10     0.000789
7      0.000645
9      0.000502
14     0.000359
11     0.000287
12     0.000215
13     0.000143
23     0.000143
20     0.000143
16     0.000143
26     0.000143
21     0.000143
17     0.000143
39     0.000143
30     0.000143
111    0.000072
27     0.000072
19     0.000072
71     0.000072
28     0.000072
47     0.000072
92     0.000072
15     0.000072
61     0.000072
22     0.000072
Name: buildings, dtype: float64

buildings_0
1       0.850036
2       0.137431
3       0.007801
4       0.001911
0       0.000806
5       0.000537
7       0.000227
6       0.000217
8       0.000155
12      0.000114
9       0.000103
10      0.000093
11      0.000052
13      0.000031
14      0.000031
57      0.000021
56      0.000021
46      0.000021
54      0.000021
28      0.000021
16      0.000021
18      0.000021
47      0.000010
38      0.000010
40      0.000010
33      0.000010
80      0.000010
24      0.000010
29      0.000010
540     0.000010
19      0.000010
17      0.000010
23      0.000010
26      0.000010
36      0.000010
64      0.000010
22      0.000010
63      0.000010
39      0.000010
98      0.000010
414     0.000010
30      0.000010
130     0.000010
61      0.000010
221     0.000010
20      0.000010
15      0.000010
109     0.000010
66      0.000010
27      0.000010
52      0.000010
1856    0.000010
Name: buildings, dtype: float64

floors_1
6.00     0.223362
4.00     0.217553
5.00     0.215617
3.00     0.194321
2.00     0.074071
           ...
51.00    0.000072
6.25     0.000072
57.00    0.000072
42.00    0.000072
5.25     0.000072
Name: floors, Length: 69, dtype: float64

floors_0
3.00     0.423979
2.00     0.279564
4.00     0.121499
5.00     0.060734
6.00     0.032278
           ...
64.00    0.000010
71.00    0.000010
74.00    0.000010
90.00    0.000010
4.28     0.000010
Name: floors, Length: 116, dtype: float64

basement_code_1
2    0.397390
0    0.338090
5    0.185860
1    0.076796
4    0.001578
3    0.000287
Name: basement_code, dtype: float64

basement_code_0
2    0.412955
5    0.312193
1    0.188959
0    0.078764
4    0.005827
3    0.001302
Name: basement_code, dtype: float64

lot_area_1
2500      0.077083
10000     0.026459
5000      0.026029
2000      0.025670
4000      0.017066
            ...
18035     0.000072
17445     0.000072
11069     0.000072
250819    0.000072
3256      0.000072
Name: lot_area, Length: 5042, dtype: float64

lot_area_0
2500     0.112055
2000     0.088879
3000     0.020654
4000     0.019518
2003     0.013019
           ...
18036    0.000010
37151    0.000010
8410     0.000010
10207    0.000010
91700    0.000010
Name: lot_area, Length: 8098, dtype: float64

res_sqft_1
0.0        0.006884
4875.0     0.005808
3000.0     0.005736
4125.0     0.005665
4500.0     0.005163
             ...
85191.0    0.000072
9132.0     0.000072
55164.0    0.000072
41202.0    0.000072
20765.0    0.000072
Name: res_sqft, Length: 8015, dtype: float64

res_sqft_0
3000.0     0.016077
3600.0     0.011955
2400.0     0.011769
2700.0     0.011603
3300.0     0.008731
             ...
30565.0    0.000010
17322.0    0.000010
15754.0    0.000010
1242.0     0.000010
10036.0    0.000010
Name: res_sqft, Length: 13991, dtype: float64

comp_bbl_2017_1
0.000000     0.297218
1.000000     0.021727
2.000000     0.009680
0.333333     0.008820
0.166667     0.007457
               ...
9.097561     0.000072
4.214815     0.000072
15.281250    0.000072
1.048193     0.000072
6.521739     0.000072
Name: comp_bbl_2017, Length: 4746, dtype: float64

comp_bbl_2017_0
0.000000     0.861587
1.000000     0.015406
0.333333     0.009155
2.000000     0.005373
0.250000     0.004608
               ...
3.105263     0.000010
0.008602     0.000010
10.238095    0.000010
0.008197     0.000010
17.044118    0.000010
Name: comp_bbl_2017, Length: 2446, dtype: float64

comp_bbl_2018_1
0.000000     0.277356
1.000000     0.024667
2.000000     0.009752
0.333333     0.008605
0.166667     0.008174
               ...
77.228571    0.000072
12.240000    0.000072
27.279070    0.000072
39.671875    0.000072
4.478261     0.000072
Name: comp_bbl_2018, Length: 4825, dtype: float64

comp_bbl_2018_0
0.000000     0.856380
1.000000     0.016284
0.333333     0.009413
0.250000     0.005332
2.000000     0.005321
               ...
1.005181     0.000010
1.014577     0.000010
0.022599     0.000010
15.032787    0.000010
15.137255    0.000010
Name: comp_bbl_2018, Length: 2483, dtype: float64

comp_bbl_2019_1
0.000000     0.269253
1.000000     0.024380
2.000000     0.010971
0.333333     0.010182
0.166667     0.008103
               ...
2.340000     0.000072
2.739130     0.000072
9.040000     0.000072
0.348837     0.000072
12.400000    0.000072
Name: comp_bbl_2019, Length: 4809, dtype: float64

comp_bbl_2019_0
0.000000    0.864522
1.000000    0.016150
0.333333    0.010002
0.250000    0.004980
2.000000    0.004929
              ...
0.921053    0.000010
0.547619    0.000010
5.232558    0.000010
1.007500    0.000010
9.098039    0.000010
Name: comp_bbl_2019, Length: 2263, dtype: float64

comp_bbl_2020_1
0.000000     0.261509
1.000000     0.029686
0.333333     0.012620
2.000000     0.012190
0.250000     0.010254
               ...
7.581395     0.000072
17.400000    0.000072
3.652174     0.000072
71.064690    0.000072
3.233333     0.000072
Name: comp_bbl_2020, Length: 4536, dtype: float64

comp_bbl_2020_0
0.000000     0.889547
1.000000     0.016501
0.333333     0.007574
2.000000     0.004650
0.250000     0.004381
               ...
0.013917     0.000010
7.857143     0.000010
12.323944    0.000010
2.028000     0.000010
10.053922    0.000010
Name: comp_bbl_2020, Length: 1817, dtype: float64

comp_bbl_2021_1
0.000000     0.118815
1.000000     0.035279
0.333333     0.019504
2.000000     0.015775
0.500000     0.014700
               ...
7.076923     0.000072
8.280000     0.000072
0.040541     0.000072
14.782609    0.000072
6.148148     0.000072
Name: comp_bbl_2021, Length: 4745, dtype: float64

comp_bbl_2021_0
0.000000    0.911627
1.000000    0.015912
0.333333    0.006664
2.000000    0.004216
0.166667    0.003255
              ...
0.012579    0.000010
1.233333    0.000010
1.014493    0.000010
0.038961    0.000010
3.009804    0.000010
Name: comp_bbl_2021, Length: 1413, dtype: float64

viol_bbl_oth_2017_1
0.000000     0.315503
1.000000     0.125771
2.000000     0.020938
3.000000     0.010254
5.000000     0.008174
               ...
4.476190     0.000072
3.558140     0.000072
3.411765     0.000072
12.440000    0.000072
16.650000    0.000072
Name: viol_bbl_oth_2017, Length: 4045, dtype: float64

viol_bbl_oth_2017_0
0.000000     0.684356
1.000000     0.240259
2.000000     0.009165
3.000000     0.003906
4.000000     0.002686
               ...
8.093023     0.000010
9.633333     0.000010
1.257143     0.000010
2.928571     0.000010
15.415385    0.000010
Name: viol_bbl_oth_2017, Length: 1790, dtype: float64

viol_bbl_oth_2018_1
0.000000     0.261580
1.000000     0.144916
2.000000     0.020293
3.000000     0.012190
4.000000     0.007959
               ...
0.014354     0.000072
20.079268    0.000072
10.136364    0.000072
4.462963     0.000072
13.650000    0.000072
Name: viol_bbl_oth_2018, Length: 4280, dtype: float64

viol_bbl_oth_2018_0
0.000000    0.619479
1.000000    0.299629
2.000000    0.009258
3.000000    0.004092
4.000000    0.002862
              ...
4.700000    0.000010
4.022599    0.000010
9.090909    0.000010
4.210526    0.000010
3.009804    0.000010
Name: viol_bbl_oth_2018, Length: 1924, dtype: float64

viol_bbl_oth_2019_1
0.000000     0.275348
1.000000     0.131436
2.000000     0.019862
3.000000     0.011186
4.000000     0.008533
               ...
16.470588    0.000072
1.173077     0.000072
48.800000    0.000072
8.508475     0.000072
2.185185     0.000072
Name: viol_bbl_oth_2019, Length: 4139, dtype: float64

viol_bbl_oth_2019_0
0.000000     0.653100
1.000000     0.273292
2.000000     0.008173
3.000000     0.004071
4.000000     0.002211
               ...
7.562500     0.000010
0.008197     0.000010
2.026549     0.000010
17.500000    0.000010
1.029412     0.000010
Name: viol_bbl_oth_2019, Length: 1713, dtype: float64

viol_bbl_oth_2020_1
0.000000    0.429155
1.000000    0.027678
2.000000    0.016277
3.000000    0.008891
4.000000    0.006597
              ...
9.812500    0.000072
5.023474    0.000072
7.030303    0.000072
2.854167    0.000072
3.068966    0.000072
Name: viol_bbl_oth_2020, Length: 3520, dtype: float64

viol_bbl_oth_2020_0
0.000000     0.945652
1.000000     0.007016
2.000000     0.003565
3.000000     0.002418
6.000000     0.001953
               ...
1.878788     0.000010
0.128571     0.000010
1.104167     0.000010
0.001715     0.000010
15.625000    0.000010
Name: viol_bbl_oth_2020, Length: 1201, dtype: float64

viol_bbl_oth_2021_1
1.000000     0.045604
0.000000     0.041732
2.000000     0.039940
3.000000     0.024021
4.000000     0.017855
               ...
4.080000     0.000072
4.296296     0.000072
20.085714    0.000072
0.236111     0.000072
5.103448     0.000072
Name: viol_bbl_oth_2021, Length: 4723, dtype: float64

viol_bbl_oth_2021_0
0.000000    0.423215
1.000000    0.282787
2.000000    0.265708
3.000000    0.004143
4.000000    0.002573
              ...
0.291667    0.000010
0.078947    0.000010
4.030675    0.000010
3.178571    0.000010
2.190476    0.000010
Name: viol_bbl_oth_2021, Length: 762, dtype: float64

viol_bbl_ser_2017_1
0.000000     0.550337
1.000000     0.046178
2.000000     0.013552
0.166667     0.005521
0.125000     0.005450
               ...
4.875000     0.000072
2.023810     0.000072
12.333333    0.000072
1.138889     0.000072
7.200000     0.000072
Name: viol_bbl_ser_2017, Length: 2131, dtype: float64

viol_bbl_ser_2017_0
0.000000    0.948751
1.000000    0.011273
2.000000    0.002810
0.333333    0.002521
0.250000    0.001509
              ...
0.002573    0.000010
3.150000    0.000010
3.073171    0.000010
1.015625    0.000010
0.009804    0.000010
Name: viol_bbl_ser_2017, Length: 811, dtype: float64

viol_bbl_ser_2018_1
0.000000    0.529614
1.000000    0.044314
2.000000    0.013696
0.166667    0.006095
0.125000    0.005593
              ...
2.368421    0.000072
2.011905    0.000072
3.518519    0.000072
0.162162    0.000072
4.296296    0.000072
Name: viol_bbl_ser_2018, Length: 2193, dtype: float64

viol_bbl_ser_2018_0
0.000000     0.946447
1.000000     0.012223
2.000000     0.003100
0.333333     0.002366
3.000000     0.001374
               ...
12.629630    0.000010
1.015625     0.000010
6.133333     0.000010
0.009615     0.000010
0.092308     0.000010
Name: viol_bbl_ser_2018, Length: 829, dtype: float64

viol_bbl_ser_2019_1
0.000000    0.452675
1.000000    0.032698
2.000000    0.009608
0.333333    0.007314
0.250000    0.006238
              ...
4.725490    0.000072
0.010753    0.000072
5.114583    0.000072
9.235294    0.000072
2.081081    0.000072
Name: viol_bbl_ser_2019, Length: 2739, dtype: float64

viol_bbl_ser_2019_0
0.000000    0.939277
1.000000    0.009547
0.333333    0.003017
2.000000    0.002779
0.166667    0.001746
              ...
3.145833    0.000010
4.625000    0.000010
2.133333    0.000010
4.136364    0.000010
2.004902    0.000010
Name: viol_bbl_ser_2019, Length: 998, dtype: float64

viol_bbl_ser_2020_1
0.000000     0.469597
1.000000     0.031335
2.000000     0.013696
0.333333     0.009107
0.166667     0.007386
               ...
5.600000     0.000072
1.527027     0.000072
12.833333    0.000072
0.152542     0.000072
6.368421     0.000072
Name: viol_bbl_ser_2020, Length: 2564, dtype: float64

viol_bbl_ser_2020_0
0.000000    0.955168
1.000000    0.007388
2.000000    0.002666
0.333333    0.002211
0.166667    0.001188
              ...
5.056180    0.000010
0.017699    0.000010
1.050847    0.000010
1.057143    0.000010
3.004902    0.000010
Name: viol_bbl_ser_2020, Length: 764, dtype: float64

building_class_A8_1
0    1.0
Name: building_class_A8, dtype: float64

building_class_A8_0
0    0.999742
1    0.000258
Name: building_class_A8, dtype: float64

building_class_B1_1
0    1.0
Name: building_class_B1, dtype: float64

building_class_B1_0
0    0.99999
1    0.00001
Name: building_class_B1, dtype: float64

building_class_C0_1
0    0.908934
1    0.091066
Name: building_class_C0, dtype: float64

building_class_C0_0
1    0.50917
0    0.49083
Name: building_class_C0, dtype: float64

building_class_C1_1
0    0.715546
1    0.284454
Name: building_class_C1, dtype: float64

building_class_C1_0
0    0.926826
1    0.073174
Name: building_class_C1, dtype: float64

building_class_C2_1
0    0.91381
1    0.08619
Name: building_class_C2, dtype: float64

building_class_C2_0
0    0.913993
1    0.086007
Name: building_class_C2, dtype: float64

building_class_C3_1
0    0.953822
1    0.046178
Name: building_class_C3, dtype: float64

building_class_C3_0
0    0.890394
1    0.109606
Name: building_class_C3, dtype: float64

building_class_C4_1
0    0.96508
1    0.03492
Name: building_class_C4, dtype: float64

building_class_C4_0
0    0.984367
1    0.015633
Name: building_class_C4, dtype: float64

building_class_C5_1
0    0.9853
1    0.0147
Name: building_class_C5, dtype: float64

building_class_C5_0
0    0.984491
1    0.015509
Name: building_class_C5, dtype: float64

building_class_C7_1
0    0.872938
1    0.127062
Name: building_class_C7, dtype: float64

building_class_C7_0
0    0.96177
1    0.03823
Name: building_class_C7, dtype: float64

building_class_C9_1
0    0.993188
1    0.006812
Name: building_class_C9, dtype: float64

building_class_C9_0
0    0.998305
1    0.001695
Name: building_class_C9, dtype: float64

building_class_CM_1
0    1.0
Name: building_class_CM, dtype: float64

building_class_CM_0
0    0.99999
1    0.00001
Name: building_class_CM, dtype: float64

building_class_D1_1
0    0.85659
1    0.14341
Name: building_class_D1, dtype: float64

building_class_D1_0
0    0.984047
1    0.015953
Name: building_class_D1, dtype: float64

building_class_D2_1
0    0.99957
1    0.00043
Name: building_class_D2, dtype: float64

building_class_D2_0
0    0.999545
1    0.000455
Name: building_class_D2, dtype: float64

building_class_D3_1
0    0.982074

In [10]:
y_pred_test = testNaiveBayesDiscrete(X_test,naive_bayes_classifier)

In [11]:
# measure accuracy for the binary prediction task
#print('In sample prediction accuracy:',1.0*sum((y_pred_train>0.5)==y_train)/len(y_train))
print('Out of sample prediction accuracy:',1.0*sum((y_pred_test>0.5)==y_test)/len(y_test))

Out of sample prediction accuracy: 0.9174182400539447

In [12]:
y_pred_all = testNaiveBayesDiscrete(X,naive_bayes_classifier)

In [14]:
## create a csv of probabilities at the building level and tract level
pred_prob_allbld= pd.concat([df.loc[:, "cd"], 
                            pd.DataFrame(y_pred_all,
                                        columns = ["prob_vacate_bl"])], axis = 1)
pred_prob_allbld

               cd  prob_vacate_bl
bbl
3047940001  309.0    6.595460e-08
3047940017  309.0    5.591637e-11
3047940078  309.0    3.117613e-10
2032790058  207.0    5.647479e-05
1011980126  107.0    2.242228e-08
...           ...             ...
1011980055  107.0    2.285197e-12
2039340058  209.0    9.560692e-13
3087140010  313.0    9.995171e-01
2027860012  204.0    9.999933e-01
4007950036  401.0    1.912988e-11

[158185 rows x 2 columns]

In [15]:
#The probability of using NaiveBayes model is too low, we might use other model.