In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("/Users/winnieshen/Documents/GitHub/MLForCities/Data/housing_data.csv")
df = df.set_index('bbl')

In [4]:
y=df.loc[:,"outcome"]

X=df.loc[:,"cd":"viol_bbl_ser_2020"]
X=pd.get_dummies(X)
X = X.fillna(0)

# Split data into 70% train, 30% test
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3, random_state=999)
print(X_train.head())

               cd  county     tract10  res_units  other_units  year_built  \
bbl
1005257502  102.0      61  61006500.0         11            3      1910.0
3042520015  305.0      47  47120000.0          3            0      1910.0
1010610012  104.0      61  61013300.0          5            0      1920.0
2023760031  201.0       5   5006700.0          5            0      1927.0
4100120020  412.0      81  81020600.0          3            1      1925.0

            year_reno  buildings  floors  basement_code  ...  \
bbl                                                      ...
1005257502     1910.0          2     4.0              5  ...
3042520015     1910.0          1     2.0              2  ...
1010610012     1982.0          1     3.0              5  ...
2023760031     1927.0          1     2.0              5  ...
4100120020     1925.0          1     2.5              5  ...

            building_class_W4  building_class_W6  building_class_W7  \
bbl
1005257502                  0                  0                  0
3042520015                  0                  0                  0
1010610012                  0                  0                  0
2023760031                  0                  0                  0
4100120020                  0                  0                  0

            building_class_W8  building_class_W9  building_class_Y4  \
bbl
1005257502                  0                  0                  0
3042520015                  0                  0                  0
1010610012                  0                  0                  0
2023760031                  0                  0                  0
4100120020                  0                  0                  0

            building_class_Z4  building_class_Z9  owner_type_P  owner_type_X
bbl
1005257502                  0                  0             0             0
3042520015                  0                  0             0             0
1010610012                  0                  0             0             0
2023760031                  0                  0             0             0
4100120020                  0                  0             0             0

[5 rows x 121 columns]

In [84]:
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)

print('In sample accuracy:',dt.score(X_train,y_train))

print('Out of sample accuracy:',dt.score(X_test,y_test))

In sample accuracy: 0.999954844710961
Out of sample accuracy: 0.9364253202966959

In [69]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

rf = RandomForestClassifier(n_estimators=30, n_jobs=-1,max_leaf_nodes=10)
rf.fit(X_train, y_train)
pred=rf.predict_proba(X_test)[:,1]
print(roc_auc_score(y_test,pred))
print(rf.score(X_test,y_test))

0.9710753669996866
0.9336227242076871

In [100]:
test = pd.DataFrame(y_test)
joined_df = test.merge(df, on = "bbl")
diff = joined_df.loc[~(joined_df['outcome_x'] != joined_df['outcome_y'])]
#diff[["outcome_x","outcome_y"]]
joined_df.query('outcome_x != outcome_y')

Empty DataFrame
Columns: [outcome_x, cd, county, tract10, res_units, other_units, year_built, year_reno, buildings, floors, building_class, basement_code, owner_type, lot_area, res_sqft, comp_bbl_2017, comp_bbl_2018, comp_bbl_2019, comp_bbl_2020, comp_bbl_2021, viol_bbl_oth_2017, viol_bbl_oth_2018, viol_bbl_oth_2019, viol_bbl_oth_2020, viol_bbl_oth_2021, viol_bbl_ser_2017, viol_bbl_ser_2018, viol_bbl_ser_2019, viol_bbl_ser_2020, viol_bbl_ser_2021, outcome_y]
Index: []

[0 rows x 31 columns]